[package]
name = "sm-main"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
repository = { workspace = true }
categories = { workspace = true }

[dependencies]
ziskemu = { workspace = true }
zisk-core = { workspace = true }
zisk-common = { workspace = true }
zisk-pil = { workspace = true }
sm-mem = { workspace = true }
mem-common = { workspace = true }
asm-runner = { workspace = true }

proofman = { workspace = true }
proofman-common = { workspace = true }
proofman-util = { workspace = true }
proofman-macros = { workspace = true }
fields = { workspace = true }
tracing = { workspace = true }
rayon = { workspace = true }
num-bigint = { workspace = true }
pil-std-lib = { workspace = true }

[features]
default = []
gpu = ["proofman-common/gpu", "packed"]
packed = ["proofman-common/packed"]
no_lib_link = ["proofman-common/no_lib_link"]
diagnostic = ["proofman-macros/diagnostic", "proofman/diagnostic"]
disable_distributed = ["proofman/disable_distributed", "proofman-common/disable_distributed"]
