# Cargo build
**/target

/*.tar.gz
/riscof
/build*
/proofs*
*.pilout
*.fixed
/tmp
**/tmp
*.log
/emulator-asm/build*
/emulator-asm/src/dma/*.o
/emulator-asm/src/dma/test_dma
/emulator-asm/src/emu.asm
/cache
/lib-c/c/build
/lib-c/c/lib
/lib-float/c/build
/logs
state-machines/frequent-ops/src/frequent_ops_fixed.bin
state-machines/arith/src/arith_frops_fixed.bin
state-machines/binary/src/binary_basic_frops_fixed.bin
state-machines/binary/src/binary_extension_frops_fixed.bin
reth-inputs/
hints/