/target
/*.tar.gz
/riscof
/build*
/proofs*
*.pilout
/tmp
*.log
/emulator-asm/build*
/emulator-asm/src/emu.asm
/cache
/lib-c/c/build
/lib-c/c/lib
precompiles/keccakf/src/keccakf_fixed.bin
precompiles/sha256f/src/sha256f_fixed.bin
node_modules
.DS_Store