[workspace]
members = [
    "cli",
    "common",
    "provers/stark",
    "provers/starks-lib-c",
    "pilout",
    "proofman",
    "transcript",
    "util",    
    "examples/fibonacci-vadcop",
]

resolver = "2"

[workspace.dependencies]
log = { version = "0.4", default-features = false }
env_logger = "0.11"
p3-goldilocks = { git = "https://github.com/Plonky3/Plonky3.git", rev = "c3d754ef77b9fce585b46b972af751fe6e7a9803" }
p3-field = { git = "https://github.com/Plonky3/Plonky3.git", rev = "c3d754ef77b9fce585b46b972af751fe6e7a9803" }

# Local development
