[package]
name = "sm-binary"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
keywords = { workspace = true }
repository = { workspace = true }
categories = { workspace = true }

[[bin]]
name = "binary_basic_frops_fixed_gen"
path = "src/binary_basic_frops_fixed_gen.rs"

[[bin]]
name = "binary_extension_frops_fixed_gen"
path = "src/binary_extension_frops_fixed_gen.rs"

[dependencies]
zisk-core = { workspace = true }
zisk-common = { workspace = true }
zisk-pil = { workspace = true }
sm-frequent-ops = { workspace = true }

fields = { workspace=true }
proofman = { workspace = true }
proofman-common = { workspace = true }
proofman-macros = { workspace = true }
proofman-util = { workspace = true }
pil-std-lib = { workspace = true }

tracing = { workspace = true }
rayon = { workspace = true }
num-bigint = { workspace = true }
static_assertions = { workspace = true }

[features]
default = []
gpu = ["proofman-common/gpu", "packed"]
packed = ["proofman-common/packed"]
no_lib_link = ["proofman-common/no_lib_link"]
diagnostic = ["proofman-macros/diagnostic", "proofman/diagnostic"]
disable_distributed = ["proofman/disable_distributed", "proofman-common/disable_distributed"]
