# Compiled ELF files
elf-output/

# Ignore all .elf files except those in prebuilt-elfs
*.elf
!prebuilt-elfs/*.elf

# Object files
*.o

# Temporary files
*.tmp
*~

# Docker artifacts
.dockerignore.tmp