name: Riscof Tests

on:
  pull_request:
    branches:
      - develop
      - main
      - "pre-develop-[0-9]+.[0-9]+.[0-9]+"
    paths:
      - "emulator/**"
      - "riscv/**"
      - "core/**"
      - "lib-float/**"
  workflow_dispatch:

jobs:
  riscof-docker-tests:
    name: Riscof docker tests
    runs-on: ubuntu-latest
    container:
      image: hermeznetwork/ziskof:latest
    env:
      CARGO_NET_GIT_FETCH_WITH_CLI: "true"
      C_INCLUDE_PATH: /usr/lib/gcc/x86_64-linux-gnu/13/include
      CPLUS_INCLUDE_PATH: /usr/lib/gcc/x86_64-linux-gnu/13/include
      ZISK_GHA: "1"
      ZISK_REPO_DIR: ${{ github.workspace }}
      TERM: xterm
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          # ZisK dependencies
          cd "$GITHUB_WORKSPACE/tools/test-env"
          ./install_deps.sh
          # Riscof dependencies
          apt-get install -y libsodium23 libomp5

      - name: Build ZisK
        run: |
          cd "$GITHUB_WORKSPACE/tools/test-env"
          ./build_zisk.sh

      - name: Run tests
        run: |
          cp "$GITHUB_WORKSPACE/target/x86_64-unknown-linux-gnu/release/ziskemu" /program
          export LD_LIBRARY_PATH=/usr/lib:/usr/lib/x86_64-linux-gnu:/usr/local/lib
          ldconfig
          cd /workspace
          riscof run --config=config.ini \
            --suite=riscv-arch-test/riscv-test-suite/ \
            --env=riscv-arch-test/riscv-test-suite/env \
            --work-dir=/workspace/output/riscof_work/

  riscof-elf-tests-asm:
    name: Riscof ELF tests (rust and assembly)
    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        shell: bash
    env:
      ZISK_GHA: "1"
      ZISK_REPO_DIR: ${{ github.workspace }}
      TERM: xterm
    steps:
      - name: Increase shared memory (/dev/shm)
        run: |
          set -euxo pipefail
          df -h /dev/shm || true
          sudo mount -o remount,size=16G /dev/shm || sudo mount -o remount,size=16G /run/shm
          df -h /dev/shm

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Checkout zisk-testvectors repo
        uses: actions/checkout@v4
        with:
          repository: 0xPolygonHermez/zisk-testvectors
          path: zisk-testvectors
          ref: feature/imacfd

      - name: Install dependencies
        run: |
          cd "$GITHUB_WORKSPACE/tools/test-env"
          sudo ./install_deps.sh

      - name: Emulate in rust Riscof ELF files
        run: |
          . "$HOME/.cargo/env"
          cd "$GITHUB_WORKSPACE"
          sudo ./tools/emulate_all.sh $GITHUB_WORKSPACE/zisk-testvectors/riscof/riscof_work

      - name: Emulate in assembly Riscof ELF files
        run: |
          . "$HOME/.cargo/env"
          cd "$GITHUB_WORKSPACE"
          sudo ./tools/emulate_asm_all.sh $GITHUB_WORKSPACE/zisk-testvectors/riscof/riscof_work